
  h1.trilha {
      text-align:center;
      color: white;
      font-family:cursive;
      font-size: 6vw; /* 4 em*/
      padding-left: 10%;
  }

  body {
      background-color: pink;
      background-image: url(https://images6.alphacoders.com/115/1153825.jpg);
  }

/*-----------------------------Login and title--------------------------------------*/
  img.kurby {
      width: 100px;
      margin-left: 20px;
      margin-top: 35px;
      cursor: pointer;
  }
  figcaption.kurby {
      text-align: center;
      margin-top: 5px;
      margin-right: 20px;
      font-size: large ;
      font-family: Arial, Helvetica, sans-serif;
      color: white;
  } 
  figure.kurby {
      margin: 0;
  }

  div.column_title {
      float: left;
      width: 90%;
      height: 150px;
      position: relative;
      margin: 0;
  }

  div.column_login {
      float: right;
      width: 10%;
  }

  div.row::after{
      content: "";
      display: table;
      clear: both;
      height: 10px;
  }

  /*-----------------------------Login Box----------------------------------*/

  .login_box {
    display: none;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
  }

  .box_content {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(153, 30, 81);
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    border-radius: 8px;
  }

  .close {
    cursor: pointer;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover, 
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  form input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  form button {
    background-color: rgb(153, 30, 81);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
  }

  form button:hover {
    background-color: pink;
  }
  /*-----------------------------Board--------------------------------------*/

  .container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinha o tabuleiro e as peças no topo */
    margin: 50px; /* Espaçamento em volta do container */
  }

  div.board {
    top: 30px;
    border-bottom: 20px;
    position: relative;
    width: 500px; /* Ajuste a largura do contêiner conforme necessário */
    height: 500px; /* Altura do contêiner */
    margin: 0 auto; /* Centraliza o contêiner horizontalmente */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    background:none;
    stroke: transparent;
  }
    
    /* Quadrados do tabuleiro */
  .square {
    position: absolute;
    border: 4px solid white;
    background:none;
  }

  /* Quadrado externo (maior) */
  .outer {
    width: 450px;
    height: 450px;
  }

  /* Quadrado intermediário */
  .middle {
    width: 65%;
    height: 65%;
    top: 17.5%;
    left: 17.5%;
  }

  /* Quadrado interno (menor) */
  .inner {
    width: 30%;
    height: 30%;
    top: 35%;
    left: 35%;
  }
  
  /* Linha horizontal e vertical do meio */
  .line {
    position: absolute;
    background-color: white;
  }

  /* Linha horizontal no meio */
  .line.horizontal_left {
    top: 50%;
    left: 25px;
    width: 30%;
    height: 4px;
    transform: translateY(-50%);
  }

  .line.horizontal_right {
    top: 50%;
    right: 25px;
    width: 30%;
    height: 4px;
    transform: translateY(-50%);
  }

  /* Linha vertical no meio */
  .line.vertical_up {
    left: 50%;
    top: 25px;
    width: 4px;
    height: 30%;
    transform: translateX(-50%);
  }

  .line.vertical_down {
    left: 50%;
    bottom: 25px;
    width: 4px;
    height: 30%;
    transform: translateX(-50%);
  }

  /* Linhas diagonais */
  .line.diagonal {
    position: absolute;
    background-color: white;
    width: 4px;
    height: 636.4px; /* Altura = comprimento da diagonal usando o Teorema de Pitágoras */;
    transform-origin: center;
  }

  /* Diagonal da esquerda superior para a direita inferior */
  .line.diagonal1 {
    transform: rotate(-45deg);
    left: 25px;
    top: 25px; /* Ajuste para posicionar corretamente */
    transform-origin: top left;
  }

  /* Diagonal da direita superior para a esquerda inferior */
  .line.diagonal2 {
    transform: rotate(45deg);
    left: 475px;
    top: 25px; /* Ajuste para posicionar corretamente */
    transform-origin: top right;
  }
    
  /* Pontos de interseção */
  .point {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
  }
  
  .point.top-left {
    top: 10px;
    left: 10px;
  }

  .point.top-left-2 {
    top: 17.5%;
    left: 17.5%;
    transform: translate(-50%, -50%)
    
  }
  
  .point.top-left-3 {
    top: 35%;
    left: 35%;
    transform: translate(-50%, -50%)
    
  }
  
  .point.top-middle {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .point.top-middle-2 {
    top: 17.5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .point.top-middle-3 {
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .point.top-right {
    top: 10px;
    right: 10px;
  }

  .point.top-right-2 {
    top: 17.5%;
    right: 17.5%;
    transform: translate(50%, -50%);
  }
  
  .point.top-right-3 {
    top: 35%;
    right: 35%;
    transform: translate(50%, -50%);
  }

  .point.middle-left {
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }

  .point.middle-left-2 {
    top: 50%;
    left: 17.5%;
    transform: translate(-50%, -50%);
  }
  
  .point.middle-left-3 {
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
  }

  .point.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .point.middle-right {
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }

  .point.middle-right-2 {
    top: 50%;
    right: 17.5%;
    transform: translate(70%, -50%);
  }
  
  .point.middle-right-3 {
    top: 50%;
    right: 35%;
    transform: translate(70%, -50%);
  }

  .point.bottom-left {
    bottom: 10px;
    left: 10px;
  }

  .point.bottom-left-2 {
    bottom: 17.5%;
    left: 17.5%;
    transform: translate(-50%, 50%);
  }

  .point.bottom-left-3 {
    bottom: 35%;
    left: 35%;
    transform: translate(-50%, 50%);
  }
  
  .point.bottom-middle {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .point.bottom-middle-2 {
    bottom: 17.5%;
    left: 50%;
    transform: translate(-50%, 50%);
  }

  .point.bottom-middle-3 {
    bottom: 35%;
    left: 50%;
    transform: translate(-50%, 50%);
  }
  
  .point.bottom-right {
    bottom: 10px;
    right: 10px;
  }

  .point.bottom-right-2 {
    bottom: 17.5%;
    right: 17.5%;
    transform: translate(50%, 50%);
  }

  .point.bottom-right-3 {
    bottom: 35%;
    right: 35%;
    transform: translate(50%, 50%);
  }

  /*--------------------------Peças------------------------------*/

  /* Estilos para as peças */
.pieces {
  display: flex; /* Habilita o flexbox para o contêiner */
  flex-wrap: wrap; /* Permite que as peças se movam para uma nova linha quando necessário */
  max-width: 100%; /* Limita a largura do contêiner se necessário */
  position: relative; /* Para que as peças sejam posicionadas de acordo com seu contêiner */
  height: 100px;
  margin-top: 10px;
}

.player1 {
  float: left;
  display: flex; /* Habilita o flexbox para o player1 */
  flex-wrap: wrap; /* Permite que as peças se movam para uma nova linha quando necessário */
  width: 20%;
  max-width: 500px;
  position: absolute; /* Permite o posicionamento das peças em relação ao tabuleiro */
  margin-top: 25px;
  left: 9%; /* Ajusta para a parte esquerda */
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #a856af;
  font-size: 20px;
}

.player2 {
  float: right;
  display: flex; /*Habilita o flexbox para o player2 */
  flex-wrap: wrap; /*Permite que as peças se movam para uma nova linha quando necessário */
  width: 20%; 
  position: absolute; /* Permite o posicionamento das peças em relação ao tabuleiro */
  margin-top: 330px;
  right: 5%; /* Ajusta para a parte direita */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgba(83, 22, 153);
  font-size: 20px;
  justify-content: left;
}

.piece_player1 {
  display: flex;
  flex-wrap: wrap;
  width: 30px; /* Tamanho da peça */
  height: 30px; /* Tamanho da peça */
  margin: 5px; /* Espaço entre as peças */
  border-radius: 50%; /* Torna as peças circulares */
  z-index: 1; /* Garante que as peças fiquem acima do tabuleiro */
  background-color: #a856af;
}

.piece_player2 {
  display: flex;
  flex-wrap: wrap;
  width: 30px; /* Tamanho da peça */
  height: 30px; /* Tamanho da peça */
  margin: 5px; /* Espaço entre as peças */
  border-radius: 50%; /* Torna as peças circulares */
  z-index: 1; /* Garante que as peças fiquem acima do tabuleiro */
  background-color: rgb(83, 22, 153);
}

/*---------------------------------- Menu ------------------------------------------------------*/

button.menu{
  position: relative;
  background-color: rgb(153, 30, 81);
  border-radius: 16px;
  border-width: 4px 4px 4px;
  border-color: rgb(153, 30, 81);
  color: #FFFFFF;
  cursor: pointer;
  padding: 13px 16px;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 20px;
  width: 450px;
  margin-top: 10px;
  left: 20px;
}

div.buttons {
  top: 10px;
  border-bottom: 20px;
  position: relative;
  width: 500px; /* Ajuste a largura do contêiner conforme necessário */
  height: 500px; /* Altura do contêiner */
  margin: 0 auto; /* Centraliza o contêiner horizontalmente */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;     /* Centraliza verticalmente */
  background:none;
  stroke: transparent;
}

/*---------------------------- Tabela Classificativa -------------------------*/
.ranking_title {
  text-align: center;
  color: lightcyan;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
}

.modal-content {
  background-color: pink;
  color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid pink;
  width: 50%;
  border-radius: 8px;
}

.close_ranking {
  color: pink;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close_ranking:hover,
.close_ranking:focus {
  color: pink;
  text-decoration: none;
  cursor: pointer;
}

.center {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 35%;
}

table th, table td {
  color: lightcyan;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid pink;
  justify-content: center;
}

/*------------------------------------------- Regras --------------------------------------------------------------*/
.regras{
    display: none;
    flex-direction: column;
    .content{
        display: flex;
        flex-direction: row;
        font-family: Arial, Helvetica, sans-serif;


        h2{
            text-align: center;
            color: azure;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        h3{
            color: azure;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .regras_esq{
            align-items: center;
            margin-left: 10%;
            width: 30%;
            position: left;
            span{
                color: azure;
                
            }
            p{
                margin-left: 10%;
                width: 80%;
            }
        }
        
        .regras_mid{
            .board{
                max-width: 100%;
                border-style: inset;
                border-color: rgb(153, 30, 81);
            }
            button{
                background-color: rgb(153, 30, 81);
                border-radius: 16px;
                border-width: 4px 4px 4px;
                border-color: rgb(153, 30, 81);
                color: #FFFFFF;
                cursor: pointer;
                padding: 13px 16px;
                font-size: 15px;
                font-weight: 700;
                letter-spacing: 1px;
                line-height: 20px;
                width: 80%;
                margin-left: 10%;
                margin-top: 10px;
            }
        }
        
        .regras_dir{
            width: 30%;
            margin-right: 10%;
            margin-left: 10px;
            p{
                margin-left: 5%;
                text-indent: 5%;}
            h3{text-indent: 9%;}
    
            .fases{margin-left: 2%;}
            .fim_jogo{margin-left: 2%;}

        }
    }   
}

h1.titulo {
  text-align:center;
  color: white;
  font-family:cursive;
  font-size: 6vw; /* 4 em*/
}

/*---------------------------------------------------- Configurações -----------------------------------------------------------------*/


.config{
  display: none;
  flex-direction: column;
  .content_config{
      display: flex;
      flex-direction: row;
      font-family: Arial, Helvetica, sans-serif;

      /* Container to allow absolute positioning */
      .container {
        position: relative;
        width: 100%; /* Full width of the window */
        height: 100px; /* Set a height to avoid collapsing */
        margin: 0;
        padding: 0;
      }
      .table {
        margin: 0;
        width: 100%;
      }
      table {
        display: flex;
        width: 100%;
        margin-bottom: 39px;
        border-collapse: collapse;
        align-self: center;
        justify-content: center;
        

        /* Left-side positioning for Grid size and P1
        9% Attach to the left side
        / Adjust this width if needed /
        .left-section {
            position: absolute;
            left: 15%;   
            width: 25%; 
            padding: 20px;
        }
        */
        

        /*
        .center-section {
            position: absolute;
            right: 50%; / Attach around 50% /
            /transform: translateX(-100%); Center align /
            width: 25%; / Adjust the width /
            padding: 20px;
        }
        */
        

        /* Center positioning for Start player and P2 */
        

      }


      label{
        font-family: cursive;
        font-size:2.1vmax;/**/
        color: rgb(217, 237, 237);
      }

      td {
        padding: 20px 10px; /* 20px 10px Vertical padding of 20px, horizontal padding of 10px */
        text-align: center;/**/
      }

      hr {
        margin-bottom: 20px; /* Add some space below the horizontal rule */
        width: 100px;
        height: 5px;
      }

      .canto {
        position: fixed;
        bottom: 5%;
        right: 0;
        width: 100px;
        }


      /*
      option {
        font-family: cursive;
        font-size:1.7vmax;
        color: rgb(230, 169, 179);
      }
      */

      /* -------------------------------------------------------- */

      /* Style the select box */
      select {
        width: 19vw;/*  200px Adjust width */
        padding: 10px; /* Add some padding */
        border: 2px solid rgb(255, 192, 203); /* Add border and color */
        border-radius: 10px; /* Make the edges rounded */
        background-color: #f1f1f1; /* Light background color */
        font-family: cursive; /*Arial, sans-serif Customize font */
        font-size: 1.7vmax; /* 16px Adjust font size */
        color: rgb(230, 169, 179); /*  Change text color */
        cursor: pointer; /* Add pointer cursor */
        appearance: none; /* Remove default arrow for styling */
        overflow: hidden; /*the only one that does something*/
        text-shadow: 0 1px 0 rgba(150, 77, 117, 0.84) /*makes it look 3D */
        
      }




      /* Style the dropdown arrow 
      select::after {
        content: '▼'; 
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
      }

      For certain browsers, remove the scrollbar 
      select::-ms-expand {
        display: none; 
      }
      select {
        Forcing browsers to remove the scrollbar 
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none; 
      }
        
      @media (max-with: 52em) {
        h1 {
            width: 50em;
            height: 25em;
        }
      }
      */


      /* Change background and border on hover */
      select:hover {
        background-color: #e2e6ea; /* Slight hover effect */
        border-color: #df848c; 
      }

      /* Change background and border on focus */
      select:focus {
        outline: none;
        border-color: #8fdef7;
        box-shadow: 0 0 5px rgba(120, 219, 228, 0.84); /* Add shadow on focus */
      }

      /* Make sure the select options have proper padding */
      /**/
      option {
        padding: 10px;
        background-color: #f1f1f1;
        text-align: center;
      }

      option:active {
        background-color: #e2e6ea;
      }



      option:checked {
        color: #8352e4;
      }



      /*######################################COPIADO###############################*/

      


  }

  .buttons_config {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-self: center;
    justify-content: center;
  }

  button{
    background-color: rgb(153, 30, 81);
    border-radius: 16px;
    border-width: 4px 4px 4px;
    border-color: rgb(153, 30, 81);
    color: #FFFFFF;
    cursor: pointer;
    padding: 13px 16px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 20px;
    width: 100%;
    justify-content:center ;
    display: flex;
    flex-direction: row;
  }
}




